---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="content-container">
        <h1 class="text-2xl font-semibold"></h1>
        <p class="mt-4"></p>

        <div class="video-container">
            <div class="video-wrapper">
                <iframe
                    src="https://player.vimeo.com/video/1061280641?h=212b7bfa84&badge=0&autopause=0&player_id=0&app_id=58479"
                    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
                    loading="lazy"
                    title="Alex Dąbrowska"></iframe>
            </div>

            <div class="video-wrapper">
                <iframe
                    src="https://player.vimeo.com/video/1061281148?h=bf93ddfdde&badge=0&autopause=0&player_id=0&app_id=58479"
                    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
                    loading="lazy"
                    title="Basia Roztworowska"></iframe>
            </div>

            <div class="video-wrapper">
                <iframe
                    src="https://player.vimeo.com/video/1061281820?h=93f4c45aab&badge=0&autopause=0&player_id=0&app_id=58479"
                    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
                    loading="lazy"
                    title="Janusz Gruchała"></iframe>
            </div>
        </div>
        <br />
    </div>
</Layout>
