---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="iframe-container">
        <iframe
            src="https://uploads.knightlab.com/storymapjs/3c1bc3fc5e7cb6e5d01b7c66e8aae02f/in-the-footsteps-of-krystyna-bednarczyk/draft.html"
            width="100%"
            height="800"
        ></iframe>
    </div>
</Layout>
