---
import Layout from "../layouts/Layout.astro";
import LinkPreviewCard from "../components/LinkPreviewCard.astro";

const links = [
    {
        url: "https://www.zppno.org/aktualnosci/krystyna-bednarczyk-i-jej-oficyna/",
        title: "International Symposium",
        description:
            "Inauguration of an interdisciplinary project funded by The National Lottery Heritage Fund (NS-23-00154)",
        image: "/images/SympozjumBednarczyk.jpg",
    },
    {
        url: "https://www.zppno.org/aktualnosci/sladami-bednarczykow-i-feliksa-topolskiego/",
        title: "Tour",
        description:
            "Guided tour exploring the history of Polish art and emigration in the dynamic and vibrant context of London.",
        image: "/images/tour.jpg",
    },
    {
        url: "https://bluepointart.uk/ar-heritage-app/",
        title: "AR Heritage app",
        description: "ARHeritageTour App is a pilot project to test the feasibility of using new technologies for heritage projects.",
        image: "/images/ar-heritage-ap.jpg",
    },
    {
        url: "https://www.zppno.org/aktualnosci/lustra-warsztaty-artystyczne/",
        title: "Mirrors - art workshop",
        description:
            "Mirrors - A cross-generational, bilingual literary and artistic workshop exploring the poetry of Krystyna Bednarczyk, will be led by Joanna Ciechanowska.",
        image: "/images/warsztaty.jpg",
    },
    {
        url: "https://www.zppno.org/aktualnosci/training-session-for-volunteers/",
        title: "Training session for volunteers",
        description:
            "The aim of this session was to prepare the volunteers to contribute effectively to the project's objectives.",
        image: "/images/warsztaty02.jpg",
    },
    {
        url: "https://www.zppno.org/aktualnosci/final-stage-of-the-unveiling-the-heritage-project-with-young-learners/",
        title: "Krystyna's London Map",
        description: "The session introduced students to maps of London and an AR app, showcasing historical sites connected to the Bednarczyks",
        image: "/images/spotkaniezmlodzieza.jpg",
    },
    {
        url: "https://www.zppno.org/aktualnosci/krystyna-i-czeslaw-dziennik-liryczny-krystyna-and-czeslaw-lyrical-diary/",
        title: "Krystyna and Czesław - Lyrical Diary",
        description:
            "Poetry Recital Based on the Poems of Krystyna and Czesław Bednarczyk",
        image: "/images/recital.jpg",
    },
    {
        url: "/audiovisual_archive",
        title: "Audiovisual archives",
        description: "Preserving History Through Sound and Vision",
        image: "/images/archiwa.jpg",
    },
    {
        url: "/project_media",
        title: "Project in the Media",
        description: "",
        image: "/images/prasa.jpg",
    },
];
---

<Layout>
    <div class="content-container">
        <h1>Project Outcome</h1>

        <br />

        <div class="cards-container">
            {links.map((link) => <LinkPreviewCard {...link} />)}
        </div>
    </div>
</Layout>
