<div class="content-container">
    <a href="https://www.zppno.org/" target="_blank" rel="noopener noreferrer">
        <img
            src="/images/logoZPPnO.jpg"
            alt="Logo_ZPPnO"
            class="about-image"
        />
    </a>
    <video
        class="about-video"
        src="/video/Unveiling_the_Heritage_Bednarczyk_web.mp4"
        controls
        poster="/images/tytulowa.png"
        preload="metadata"
    >
        Your browser does not support the video tag.
    </video>
    <h1>About Us</h1><br />

    <p>
        Since 1946, the Union of Polish Writers Abroad (ZPPnO) has supported
        Polish writers living in exile by promoting their creative work and
        strengthening Polish cultural identity beyond the country’s borders.
        The organisation brings together poets, prose writers, essayists,
        literary translators, and critics, all dedicated to preserving and
        popularising the literary heritage of the Polish diaspora. A
        significant part of the Union’s work is also devoted to researching
        emigrant literature, a task entrusted to the specially established
        Research Center on the Legacy of Polish Migration (ReCeLPM). This unit
        documents the history of emigrant literature, implements educational
        projects, and fosters intercultural and intergenerational dialogue. One
        of ZPPnO’s key projects is the initiative “Unveiling the Heritage:
        Krystyna Bednarczyk – Polish Poet and Co-Founder of Poets and Painters’
        Press in London,” to which this website is dedicated. Financed by The
        National Lottery Heritage Fund, the project focuses on exploring the
        creative output and influence of Krystyna Bednarczyk – a pioneer in
        artistic editing and co-founder of the London-based “Oficyna”. By
        organising an international symposium, workshops, creating maps (both
        virtual and traditional), and implementing augmented reality (AR)
        technology, ZPPnO has aimed to highlight Bednarczyk’s legacy and
        promote Polish cultural heritage in the United Kingdom. These
        activities, carried out across traditional, virtual, and hybrid spaces,
        are designed to build bridges between the Polish emigrant community and
        the local population. The Research Center on the Legacy of Polish
        Migration plays a pivotal role in the project, overseeing scientific
        research and educational initiatives that raise cultural awareness and
        emphasise the contribution of women to Poland’s literary heritage.
        ZPPnO extends its heartfelt thanks to The National Lottery Heritage
        Fund for its invaluable support in bringing this project to life. Your
        commitment and trust enable us to continue our mission of preserving
        and promoting Polish literary heritage. This project also stands as a
        testament to the contribution of the Polish minority to the development
        of the multicultural fabric of British society and culture, showcasing
        how the rich legacy of Polish creators becomes an integral part of the
        United Kingdom’s shared history and cultural landscape.<br /><br />
        <a
            href="https://www.heritagefund.org.uk/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img
                src="/images/English_Made-Possible_logo_colour_PNG-1024x368.png"
                alt="Logo_HeritageFund"
                class="logo-heritage-image"
            />
        </a><br />

        Using money raised by National Lottery players,
        <a
            href="https://www.heritagefund.org.uk/"
            target="_blank"
            rel="noopener noreferrer"
            >The National Lottery Heritage Fund
        </a>
        supports projects that connect people and communities with the UK's
        heritage. “Unveiling The Heritage: Krystyna Bednarczyk (1923–2011) –
        Polish Poet and Co-Founder of Poets And Painters’ Press In London” is
        made possible with The National Lottery Heritage Fund. Thanks to
        National Lottery players, we have been able to explore and promote the
        legacy of Krystyna Bednarczyk, integrating traditional, virtual, and
        hybrid spaces to engage a wider audience through cross-cultural dialogue
        and innovative technology.
        <br /><br />
        *********************** <br />
        <em
            >Związek Pisarzy Polskich na Obczyźnie (ZPPnO) od 1946 roku wspiera
            polskich pisarzy tworzących na emigracji, promując ich dorobek i
            umacniając polską tożsamość kulturową poza granicami kraju.
            Organizacja zrzesza poetów, prozaików, eseistów, tłumaczy
            literackich i krytyków, dbając o zachowanie oraz popularyzację
            literackiego dziedzictwa Polonii. Istotnym aspektem działalności
            Związku jest również prowadzenie badań nad literaturą emigracyjną,
            za co odpowiada specjalnie powołany Ośrodek Badań Dziedzictwa
            Emigracji Polskiej (ReCeLPM). Jego zadaniem jest dokumentowanie
            historii literatury emigracyjnej, realizacja projektów
            edukacyjnych oraz wspieranie dialogu międzykulturowego i
            międzypokoleniowego. Jednym z kluczowych projektów ZPPnO jest
            inicjatywa „Odkrywanie dziedzictwa: Krystyna Bednarczyk – polska
            poetka i współzałożycielka wydawnictwa Oficyna Poetów i Malarzy w
            Londynie”, której poświęcona jest ta strona. Projekt, sfinansowany
            przez The National Lottery Heritage Fund, koncentruje się na
            badaniu twórczości i wpływu Krystyny Bednarczyk – pionierki
            artystycznego edytorstwa i współzałożycielki londyńskiej Oficyny.
            Poprzez organizację międzynarodowego sympozjum, warsztatów,
            tworzenie map (zarówno wirtualnych, jak i tradycyjnych) oraz
            wdrożenie technologii rozszerzonej rzeczywistości (AR), ZPPnO dążył
            do popularyzacji dorobku Bednarczyk oraz promocji polskiego
            dziedzictwa kulturowego w Wielkiej Brytanii. Działania te,
            realizowane w przestrzeniach tradycyjnych, wirtualnych i
            hybrydowych, mają na celu budowanie dialogu między polską
            społecznością emigracyjną a lokalną wspólnotą. Kluczową rolę w
            projekcie odgrywa Ośrodek Badań nad Dziedzictwem Polskiej Migracji,
            odpowiedzialny za badania naukowe i działania edukacyjne, które
            promują świadomość kulturową oraz podkreślają rolę kobiet w polskim
            dziedzictwie literackim. ZPPnO składa serdeczne podziękowania The
            National Lottery Heritage Fund za nieocenione wsparcie w realizacji
            tego przedsięwzięcia. Państwa zaangażowanie i zaufanie pozwala nam
            kontynuować misję zachowywania i promowania polskiego dziedzictwa
            literackiego. Projekt ten stanowi zarazem wyraz wkładu polskiej
            mniejszości w rozwój wielokulturowej tkanki brytyjskiego
            społeczeństwa i kultury. Poprzez nasze działania ukazujemy, jak
            bogata spuścizna polskich twórców staje się integralną częścią
            wspólnej historii i kultury Wielkiej Brytanii.</em
        >
    </p>
</div>
